h1 {
  text-align: center;
}
h2 {
  color: #043d67;
}

body {
  background-image: url("../assets/images/background.jpg");
  background-attachment: fixed;
  color: white;
}

.page-wrapper {
  max-width: 935px;
  margin-left: auto;
  margin-right: auto;
}
.links {
  width: 20px;
  height: 20px;
}

.item-renderer {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.65);
  border: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 6px;
  height: 65px;
  margin-top: 10px;
}
.results-header {
  display: flex;
  flex-direction: row;
  height: 50px;
  border-style: solid;
  border-color: #fff;
  border: 1px;
  background-color: rgb(255, 255, 255);
}
.launch-item-details {
  overflow: hidden;
  width: 38%;
  text-overflow: ellipsis;
  height: 100%;
}

.launch-item.link {
  width: 6%;
}

.launch-item-rocket-name {
  vertical-align: middle;
  width: 14%;
  height: 100%;
}

.launch-item-date {
  width: 14%;
}

.launch-item-rocket-type {
  width: 13%;
}

.launch-item-id {
  width: 5%;
}

.launch-item-picture {
  width: 10%;
  height: auto;
}

.badge {
  height: 40px;
}
