@font-face {
  font-family: "Geomanist-regular";
  src: url("../assets/fonts/geomanist-regular-webfont.eot");
  src: url("../assets/fonts/geomanist-regular-webfont.ttf") format("truetype");
  src: url("../assets/fonts/geomanist-regular-webfont.woff") format("woff");
  src: url("../assets/fonts/geomanist-regular-webfont.woff2") format("woff2");
  src: url("../assets/fonts/geomanist-regular-webfont.svg") format("svg");
}
h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
}
h2 {
  color: #043d67;
  font-weight: 100;
  font-size: 12pt;
}

body {
  background-color: black;
  margin: 0;
  background-image: url("../assets/images/background.jpg");
  background-attachment: fixed;
  color: white;
  font-family: "Geomanist", Fallback, sans-serif;
}

.page-wrapper {
  max-width: 935px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
  height: 80px;
  padding-left: 20px;
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-bottom: #141c3a;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: rgba(255, 255, 255, 0.07);
  justify-content: space-between;
}
.filter-container {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.links {
  width: 20px;
  height: 20px;
}

.item-renderer {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 6px;
  height: 65px;
  padding-left: 10px;
  margin-top: 10px;
  color: #444;
}
.results-header {
  display: flex;
  flex-direction: row;
  height: 50px;
  border-style: solid;
  border-color: #000;
  border: 1px;
  padding-left: 10px;
  padding-right: 10px;
  background-image: linear-gradient(#9db7cd, #fff);
}
.launch-item-details {
  white-space: nowrap;
  overflow: hidden;
  width: 38%;
  text-overflow: ellipsis;
  margin: auto;
  margin-: 1rem;
}

.launch-item-link {
  width: 6%;
  margin: auto;
}

.launch-item-rocket-name {
  vertical-align: middle;
  width: 14%;
  margin: auto;
}

.launch-item-date {
  width: 14%;
  margin: auto;
}

.launch-item-rocket-type {
  width: 13%;
  margin: auto;
}

.launch-item-id {
  width: 5%;
  margin: auto;
}

.launch-item-picture {
  width: 10%;
  margin: auto;
  height: auto;
}

.badge {
  height: 40px;
}
.checkbox-container {
  display: flex;
  flex-direction: row;
  user-select: none;
  -webkit-user-select: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 1rem;
}
.checkbox {
  width: 22px;
  height: 22px;
  border-color: #fff;
  border-radius: 2px;
  border-style: inset;
  border-width: 1px;
  cursor: pointer;
  margin-left: 10px;
}
.checkmark {
  margin-top: auto;
  margin-bottom: auto;
  width: 20px;
  height: 20px;
}
.checkmark-label {
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.refresh-button {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-width: 2px;
  border-radius: 50%;
  border-style: solid;
  border-color: #fff;
}
.refresh-img {
  width: 20px;
  height: 20px;
  margin: 7px;
}
